.background {
  background-image: url("musical\ design\ 1.jpg"); background-color: antiquewhite;
} 

.head {
  background-color: rgb(206, 255, 196) ;
}
.bullet_points {
  text-decoration: wavy;
  text-shadow: 3cap;
}
.body_of_strings {
  background-color: antiquewhite;
  background-image: url(music\ design\ 2.jpg);
  
}

.woodwinds {
  background-image: url(music\ design\ 3.jpeg);
}
.quote {
  background-image: url(music\ design\ 3.jpeg);
  background-color: beige;
  font-weight: 400;
  font-style: oblique;
  position: absolute;

}