.background {
  background-image: url("musical\ design\ 1.jpg"); background-color: rgb(146, 13, 13);
} 

.head {
  background-color: rgb(206, 255, 196) ;
}
.bullet_points {
  text-decoration: wavy;
  text-shadow: 3cap;
}