.background {
  background-image: url("musical\ design\ 1.jpg"); background-color: antiquewhite;
} 

.head {
  background-color: rgb(206, 255, 196) ;
}
.brassy {
  background-image: url(music\ design\ 2.jpg); 
  background-color: bisque;
}
.bullet_points {
  text-decoration: wavy;
  text-shadow: 3cap;
}
.body_of_strings {
  background-color: antiquewhite;
  background-image: url(music\ design\ 2.jpg);
  
}

.woodwinds {
  background-image: url(music\ design\ 3.jpeg);
}
.quote {
  background-image: url(music\ design\ 3.jpeg);
  background-color: beige;
  font-weight: 400;
  position: absolute;
  font-style: italic;
  font-family: cursive;
}
.corpus {
  background-image: url("musical\ design\ 1.jpg");                                                                                                                     
}
.head {
  font-style: italic;
  font-weight: bold;
  background-color: darkcyan;
  font-family: cursive;
  text-decoration-color: blanchedalmond;
}
.bigtext{
  background-color: beige;
  font-weight: 400;
  position: absolute;
  font-style: italic;
  font-family: cursive;
}
